<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<a href="/">Back to users</a>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="surname">Enter surname</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <label for="age">Enter age</label>
    <input type="number" th:field="*{age}" id="age"/>
    <label for="email">Enter status</label>
    <input type="text" th:field="*{email}" id="email"/>
    <label for="password">Enter password</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <p th:each="role : ${roles}">
        <input type="checkbox" name="roleBox" th:value="${role.getId()}" th:text="${role.getName()}"/>
    </p>
    <br/>
    <input type="submit" value="Edit."/>
</form>

</body>
</html>